/media
/venv
/articles/migrations
/articles/__pycache__
/config/__pycache__
/contact/migrations
/contact/__pycache__
/currency/migrations
/currency/__pycache__
/django_product/__pycache__
/django_product/local_settings.py
/django_product/office/__pycache__
/django_product/office/orders/*
/info
/orders/migrations
/orders/__pycache__
/products/migrations
/products/__pycache__
/products/templatetags/__pycache__
/utils/__pycache__
