<!-- basket Start -->
<div class="col-lg-2 col-md-6 col-6 col-custom">
	<div class="header-right-area main-nav">
		<ul class="nav">
			<li class="sidemenu-wrap">
            <a href="#"><i class="fa fa-search"></i> </a>
            <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-search">
               <li>
                  <form action="{% url 'search' %}" method="get">
							<input type="search" name="q" required="" placeholder="Поиск товара...">
							<button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
					   </form>
               </li>
            </ul>
         </li>
			<li class="minicart-wrap">
				<a href="{% url 'basket_detail' %}" class="minicart-btn toolbar-btn">
					<i class="fa fa-shopping-cart"></i>
					<span class="cart-item_count">{{products_total_nmb}}</span>
				</a>
				{% if products_in_basket.count < 1 %}
					<div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2" id="shopping" style="height: 60px; background: #f8f8f8;">
				{% elif products_in_basket.count == 1 %}
					<div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2" id="shopping" style="height: 160px; background: #f8f8f8;">
				{% elif products_in_basket.count == 2 %}
					<div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2" id="shopping" style="height: 260px; background: #f8f8f8;">
				{% else %}
					<div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2" id="shopping" style="overflow: scroll; height: 300px; background: #f8f8f8;">				
				{% endif %}
					<div id="basket-product">
						{% for product in products_in_basket %}
							<!-- cart-item start-->
							<div class="full-card-remove"> 
								<form class="product-card-removes" action="{% url 'basket_adding' %}">
    								{% csrf_token %}
									<div class="single-cart-item">
										<div class="container">
											<div class="row">
												<div class="col-3" >
													<a href="{% url 'category_list' %}{{product.product.category.category.slug}}/{{product.product.category.slug}}/{{product.product.slug}}">
														<img class="img" style="display: block" src="{{product.product.poster.url}}" alt="">
													</a>										
												</div>
												<div class="col-9" style="top: -50px">
													<a href="{% url 'category_list' %}{{product.product.category.category.slug}}/{{product.product.category.slug}}/{{product.product.slug}}" style="display: block">
														<h5 class="title">{{product.product}}</h5>
													</a>																				
													<span class="number">{{product.nmb}} </span>
													<span> × </span>
													<span class="summ">{{product.price_per_item}}</span>
													<span> = </span>
													<span class="cart-price" style="color: #d63384"><b>{{product.total_price}}</b></span>
													<span> грн </span>
													<button class="pro-remove" data-id="{{product.id}}"> 
														<i class="lnr lnr-trash"></i>
													</button>								
												</div>
											</div>
										</div>
									</div>
									<hr style='margin:0; margin-bottom: 20px; border-bottom: 1px solid;'>
								</form>
							</div>
							<!-- cart-item end-->
						{% endfor %}
					</div>
					
					<template id='castom'>
						<!-- cart-item start-->
						<div class="full-card-remove"> 
							<form class="product-card-removes" action="{% url 'basket_adding' %}">
								{% csrf_token %}
								<div class="single-cart-item">
									<div class="container">
										<div class="row">
											<div class="col-3" >
												<img class="img" style="display: block" src="" alt="">
											</div>
											<div class="col-9" style="top: -50px">
												<a href="" style="display: block">
													<h5 class="title"><a href=""></a></h5>
												</a>								
												<span class="number"></span>
												<span> × </span>
												<span class="summ"></span>
												<span> = </span>
												<span class="cart-price" style="color: #d63384"><b></b></span>
												<span> грн </span>		
												<button class="pro-remove" data-id="0">
													<i class="lnr lnr-trash"></i>
												</button>											
											</div>
										</div>
									</div>
								</div>
								<hr style='margin:0; margin-bottom: 20px; border-bottom: 1px solid;'>
							</form>
						</div>
						<!-- cart-item end-->
					</template>
					<div class="basket-bottom d-flex justify-content-between">
						<h5><b>Сумма заказа :</b></h5>
						<h4><span class="badge bg-success" id="all_sum">{{all_sum}}</span><span> грн</span></h4>		
						
					</div>
				</div>
			</li>
			<li class="mobile-menu-btn d-lg-none">
				<a class="off-canvas-btn" href="#">
					<i class="fa fa-bars"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- basket End -->