{% load static %}
<!-- Contact start -->
<ul class="address-info">
	<li>	
		<a href="https://invite.viber.com/?g2=AQBSsBmtorxkCUlk0Z20C0J5+poXKX6CVMVvk2nsN5wmDXV7lf8gOVxuHjFwIud+">
		<img src="{% static 'images/viber.png' %}" style="width: 20px; border-radius: 20px; margin-right: 5px"></i> Viber группа</a>
	</li>
	<li>	
		<a href="tel:380974903098"><i class="fa fa-phone"></i> +38(097) 490 30-98</a>
	</li>
	<li>	
		<a href="tel:380677953503"><i class="fa fa-phone"></i> +38(067) 795 35-03</a>
	</li>
	<li>
		<a href="mailto:ira.toys.by7km@gmail.com"><i class="fa fa-envelope"></i>ira.toys.by7km@gmail.com</a>
	</li>
</ul>		
<!-- Contact menu end -->