{% load i18n %}
<!-- History Area Start Here -->
<div class="our-history-area gray-bg pt-5 mt-text-3" style="margin-top: -20px">
    <div class="our-history-area">
        <div class="container custom-area">
            <div class="row">
                <!--Section Title Start-->
                <div class="col-12 col-custom"  style="margin-top: 30px">
                    <div class="section-title text-center mb-30">
                        <span class="section-title-1">{% blocktranslate %}Маленькая история о нас{% endblocktranslate %}</span>                       
                    </div>
                </div>
                <!--Section Title End-->
            </div>
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="history-area-content text-center border-0">
                        <p><strong>{% blocktranslate %}«Игрульки от Ирульки»{% endblocktranslate %}</strong></p>
                        <p>{% blocktranslate %}Наш магазин специализируется на игрушках европейского, китайского и украинского производства. Ассортимент товара постоянно расширяется. Наши сотрудники посвящают много времени поиску новых производителей с целью совершенствования как качества продукции, так и ее цены.{% endblocktranslate %}</p>
                        <br/>
                        <p><strong>{% blocktranslate %}Наша цель{% endblocktranslate %}</strong></p> 
                        <p>{% blocktranslate %}Дарить, удивлять и немножечко дуреть, наполняя жизнь позитивными эмоциями. Мы верим, что взрослых не существует, поэтому ассортимент магазина «Игрульки от Ирульки» настолько широк, что найти подходящую игрушку можно как для новорожденного ребенка, так и для взрослого.{% endblocktranslate %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature History Area End Here -->