<!DOCTYPE html>

{% load static product_tag %}

<html class="no-js">
  <head>
    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=0, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="cleartype" content="on">  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">

    <meta name="og:type" property="og:type" content="website">
    <link rel="canonical" href="https://ira-toys-by-7km.com/ru/">
    <link rel="alternate" href="https://ira-toys-by-7km.com/ru/" hreflang="ru-UA">
    <link rel="alternate" href="https://ira-toys-by-7km.com/" hreflang="uk-UA">
    <meta name="og:site_name" property="og:site_name" content="Интернет-магазин Игрульки от Ирульки">
    <meta property="og:site_name" content="Игрульки от Ирульки">

    <meta property="og:locale:alternate" content="ru-UA">
    <meta property="og:url" content="https://ira-toys-by-7km.com/">
    <meta property="og:locale" content="ru-UA">

    {% comment %}
    {% block title %} 
    {% endblock title %}
    
    {% block keywords %} 
    {% endblock keywords %}

    {% block description %} 
    {% endblock description %}
    
    {% block og_title %} 
    {% endblock og_title %}

    {% block og_description %} 
    {% endblock og_description %} 

    
    <!-- Google Analytics script -->
    {% script_google_analytics as google_analytics %}
    {{ google_analytics | safe }} -->
    <!-- Google Analytics script -->
    {% endcomment %}

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- CSS  ============================================ -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/font.awesome.min.css' %}">   <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/linearicons.min.css' %}">    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}"> <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">       <!-- Animation CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">                     <!-- Main Style CSS -->
  </head>
  <body>
    <!--===== Pre-Loading area Start =====-->
    <div id="preloader">
        <div class="preloader">
            <div class="spinner-block"><h1 class="spinner spinner-3 mb-0">.</h1></div>
        </div>
    </div>
    <!--==== Pre-Loading Area End ====-->
    {% include "include/header.html" %}
      {% block content %}
      
      {% endblock content %}
    {% include "include/footer.html" %}
    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#"><i class="lnr lnr-arrow-up"></i></a>
    <!-- Scroll to Top End -->
    <!-- JS  ============================================ -->
    <script src="{% static 'js/vendor/jquery-3.5.1.min.js' %}"></script>     <!-- jQuery JS -->
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script> <!-- Bootstrap JS -->
    <script src="{% static 'js/plugins/swiper-bundle.min.js' %}"></script>   <!-- Swiper Slider JS -->
    <script src="{% static 'js/main.js' %}"></script>                        <!-- Main JS -->
    <script src="{% static 'js/ajax.js' %}"></script>                        <!-- Card Plus - Minus JS -->
    
    {% block script %}
    
    {% endblock script %}

  </body>
</html>